html {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div#root {
  margin: auto;
  height: 768px;
  width: 768px;
  background-color: rgb(238, 238, 238);
  padding: 15px;
}

main { 
  width: 100%;
  height: 400px;
}

.content{
  width: 70%;
  margin: 0;
  float: left;
}
.sidebar {
  width: 30%;
  float: left;
  height: 100%;

}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
}
footer h4 {
  text-align: center;
}